@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(bootstrap.css);

/*
font-family: 'Noto Sans KR', sans-serif;
*/
body{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; font-size: 14px;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:#fff;
    list-style: none;
}
ul, li, ol{
    list-style: none;
    margin: 0; padding: 0;
}
header{
    height: 80px; background: #272A39;
    color:#fff; font-size: 2.5rem;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}
header>h1{line-height: 80px; text-indent: 10px;}
header>span{
    width:40px; height: 36px;
    text-indent: -9999px; overflow: hidden;
    background: url('../images/logout.png') no-repeat;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

nav{
    width: 250px; background: #272A39; height: 1200px;
}
nav>ul{padding: 10px 0;}
.submenu{display: none;}
nav>ul>li>a>img{padding: 0 20px;}
nav>ul>li>a{display: block; position: relative;}
nav>ul>li>a::after{
    width: 24px; height: 24px;
    content: '';
    background-image: url('../images/admin_carrosel.png');
    background-repeat: no-repeat;
    background-size: 80%;
    display: block;
    position: absolute;
    right:15px; top:0;
}
nav ul li>a:{background-color: #fff;}
nav>ul li a{font-size: 16px;}
.accordion-button{color:#fff;}
.accordion-button:not(.collapsed){
    
    background-color: #272A39;    
}
.accordion-body li a{
    color: #00BEC6;
    padding-left: 50px;
    font-size: 1rem;
}
.accordion-item{border: 0;}
.accordion-body li{padding: 10px 0;}
.accordion-body li:nth-child(1){margin-top: 5px;}
.accordion-button:not(.collapsed){
    background-image: url(../images/admin_ccicon02.png);
    background-repeat: no-repeat;
    background-position: 15px 20px;
}

.icon{padding-right: 20px;}

/*그래프*/
#contents01{
    position: absolute;
    top:100px; left:300px; 
}
#contents01>h2{
    font-size: 1.3rem;
    font-weight: 700;
}

/*문의구매평*/
#contents02{
    position: absolute;
    top:620px; left:300px; 
    border: 3px solid #333;
    border-radius: 5%;
    width: 600px; height: 500px;
    text-indent: 1.5rem;
}
#contents02>h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin:50px 0 20px 0;
}
.flex{
    width: 500px; height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    text-overflow:ellipsis;
}

.board a{
    display: block;
    color:#333; font-size: 0.9rem;
    white-space:nowrap;
	overflow:hidden;
    word-break: break-all;
    width:400px;
}
.board a:first-child{
    font-weight: bold;
    font-size: 1rem;   
}

/*컬러3개*/
#contents03{
    position: absolute;
    top:620px; left:950px;
    width: 400px; height: 500px;
    line-height: 150px;
    text-indent: 30px;
}
#contents03 a{
    display: block;
    text-align: left;
    font-size: 2rem;
}
#pink{
    background-color: #e66161;
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    width: 400px; height: 150px;
    border-radius: 10px;
}
#mint{
    background-color: #4cc4cc;
    background-image: url('../images/2.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    width: 400px; height: 150px;
    border-radius: 10px;
    margin: 20px 0;
}
#orange{
    background-color: #ef8d46;
    background-image: url('../images/3.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    width: 400px; height: 150px;
    border-radius: 10px;
}
#contents03 a:hover{text-decoration: underline;}