@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
*/

/*공통사용*/
a,a:link,a:visited,a:hover,a:active{
    text-decoration:none !important;
    color:#333;
}
body{
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 14px;
}
.container{
    width:100%;
    margin:0 auto; /*가로 중앙정렬로 바꿀수도 있자낭용~~*/
    overflow:hidden;
}
.flex{display: flex; flex-direction: row;}
#business>h2,
#products>h2,
#news>h2{
    font-size: 2.5rem; font-weight: bold;
    text-align: center;
    padding: 40px 0 !important;
}
p{text-align: center;}

/*헤더*/
.nav{width: 1440px; margin: 0 auto;}
.headerWrap{position:relative;}

.wrap{width:85%; margin: 0 auto;} /*중앙정렬로 사용할 클래스*/
    .header{ /*헤더에만 적용할 스타일*/
        position: absolute; /*포지션이 fixed면 gnb를 상단에 항상 고정시켜서 사용할 수 있다*/
        top:0; left:7.5%;
    }
    #menu{display: none;}
    .header>nav, #gnb, #util{height: 80px;}

    /*PCver. flex세팅*/
    .header>nav, #gnb, #util{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
    }
    /*
    #gnb{display: flex !important;} 
    모바일로 갔을 때 플렉스가 아니고 세로로 배치해야해서 pc에서는 가로로 보이게 하려고 important적용
    모바일이 더 나중에 임포트 되어 있어서 우선순위가 밀릴 수도 있어서
    #gnb>li{text-align: center;}
    #gnb>li>a, .sub>li>a{
        display: block !important; 
        padding: 5px 30px;
        position: relative;
        color:#fff;
    }
    #gnb>li>a::after, .sub>li>a::after{
        content:'';
        width:0; height:0;
        transition: all .3s;
    }
    #gnb>li:hover>a::after, .sub>li:hover>a::after{
        content: '';
        width:40%; height: 2px;
        background: #fff;
        position: absolute;
        left:50%; bottom: 0;
        transform: translateX(-50%);
    }
    .sub{
        position: absolute;
        width: inherit;
        background: transparent;
        display: block;
        text-align: center;
        top:50%;
    }
    .sub>li{margin: 15px 0;} */
#gnb{width:80%; font-family: 'Noto Sans KR', sans-serif !important;}
#gnb>li{
    float:left; width:20%;
    font-size: 0.9rem;
    background: transparent;
    text-align: center;
    height: 40px; line-height: 40px;
    box-sizing:border-box;
}
#gnb::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.sub{
    display: none;
}
.sub>li{
    background: transparent;
    box-sizing:border-box;
    height: 40px
}
#gnb>li a, .sub>li a{color:#fff;}
.campaign{font-size: 0.8rem;}
#campaign03{font-size: 0.7rem;}
#gnb>li:hover{
    border-bottom: 1px solid #fff;
    box-sizing:border-box;
}
.sub>li:hover{
    border-bottom: 1px solid #fff;
    box-sizing:border-box;
}

/*gnb로고*/
#logo{
    text-indent: -9999px; overflow: hidden;
    background-image: url('../images/symbol_logo_white.png');
    background-repeat:  no-repeat;
    background-size:  100%;
    background-position: 50% 50%;
    width: 60px; height: 60px; 
    z-index: 999999;
}
#logo a{display: block; width: 60px; height: 60px;}
/*언어 버튼*/
#util>li:first-child>a{
    display: block;
    width: 20px; height: 20px;
    text-indent: -9999px; overflow: hidden;
    background: url('../images/lan_white.png') no-repeat;
}
#util>li:nth-child(2)>a{color:#fff; margin:0 10px;}
#util>li:last-child>a{
    display: block;
    width: 20px; height: 20px;
    text-indent: -9999px; overflow: hidden;
    background-image: url('../images/tri_white.png');
    background-position: 0 200%;
    background-repeat: no-repeat;
}

/*비주얼배너 슬라이드 관련 CSS*/
.headerwrap{width: 100%;}
.backimg{
    width:100%;
    height:650px;
    position:relative;
}
.backimg>li{
    position:absolute;
    width:100%;
    height:100%;
    background:url() no-repeat center center/cover;
    transition:all .4s;
    opacity:0;
    text-align:center;
}
.backimg>li:nth-child(1){background-image:url("../images/back1.jpg");}
.backimg>li:nth-child(2){background-image:url("../images/back2.jpg");}
.backimg>li:nth-child(3){background-image:url("../images/back3.jpg");}
.backimg>li.topImg{
    opacity:1;
    z-index:3 !important;
    transition:all .4s;
}
.backimg hgroup{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.backimg>li h4{
    font-weight: 600;
    font-size:2rem;
    margin-bottom:30px;
    color:#fff;
    letter-spacing: 5px;
}
.backimg>li h5{
    line-height:1.7;
    font-size:1.1rem;
    color:#fff;

}


/*비즈니스 연구개발 영역*/
#business{
    width: 100%; height: 600px;
    background: url('../images/bg_1.jpg') no-repeat 50%/cover;
    position: relative;
}
#business .flex{
    justify-content: center;
}
#business img{
    width: 200px; height: 200px;
    border-radius: 50%;
}
#business ul li a{
    display: block;
    width: 200px;
    text-align: center;
    margin: 50px 20px;
}



/*제품 영역*/
#products div .box{
    width: 200px; height: 180px;
    background: #353990;
    margin-top: 50px;
}

#products div .box p{
    font-size: 0.9rem;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    height:130px;
}
#products div .box a{
    color:#fff;
    display:block;
    width:100%;
    height:100%;
}
#products span{
    font-size:1.2rem;
    font-weight:500;
    padding:20px 40px 0 20px;
    box-sizing:border-box;
    display:block;
}
/*약 슬라이드*/
#products{
    width: 100%; height: 600px;
    background-image: url('../images/bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#products .flex{
    width: 900px;
    justify-content: space-between;
    margin: 0 auto;
}
#products .flex>div:first-child{
    width: 150px;
}
.slideWrap{position: relative;}
.slideWrap>li{
    width:200px; height: 280px;
    float:left;
    position: absolute;
    background: #fff;
    text-align: center;
}
.slideWrap>li>h6{
    margin-top:20px;
    text-align:left;
    font-weight:500;
    padding-left:20px;
}
.slideWrap>li>hr{
    width:80%;
}
.slideWrap>li img{
    width:100%; height: 180px;
}
.slideWrap::after,
.btnWrap::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
#slide01, #slide02, #slide03{
    width:200px;
    height: 280px;
    margin:50px 0;
    overflow: hidden;
    position: relative;
}
#slide02{margin-left: 30px; margin-right: 30px;}
.btnWrap{
    position: absolute;
    width:25%; top:21px;
    right: 20px;
}
.btnWrap>button:last-child{
    float:right;
}
.btnWrap::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
.slideWrap>li:nth-child(1){left:0;}
.slideWrap>li:nth-child(2){left:200px;}
.slideWrap>li:nth-child(3){left:400px;}

/*검색모달창*/
input{width:400px;}
#magnify{vertical-align: top; cursor: pointer;}
/*
.modal{
    background: url('../images/search.png') no-repeat center center/50%;
    width:40px; height: 40px;
    cursor: pointer;
}
#find{
    display: none;
    width:1200px; height: 200px;
    background: rgba(0,0,0,0.8);
    position: relative;
    top:0; left:0;
    text-align: center;
    z-index: 999;
}
#magnify{
    border: none;
    border-bottom:3px solid #fff;
    background: none; z-index: 9999;
    width:400px; position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%);
}
#close_btn{
    position: absolute;
    right:2%; top:5%; 
}
#magnify_glass{
    position: absolute;
    top:35%; left:65%;
}
*/

/*뉴스 영역*/
#news{
    width: 100%; height: 600px;
    background-image: url('../images/bg_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
/*jd슬라이더*/
.jd-slider {
    margin: 50px 0;
}

.jd-slider .slide-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 1px solid #888;
}

.jd-slider .slide-area > li {
    border-right: 1px solid #888;
    border-left: 0;
    box-sizing: border-box;
    text-align: center;
}

.jd-slider .slide-area > li:first-child {
    border-left: 1px solid #888;
}

.jd-slider .slide-area > li > a {
    display: block;
    height: 280px;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
    outline: 0;
}

.jd-slider .controller {
    margin: 10px 0 0;
}

.jd-slider.slider3 .slide-area > li,
.jd-slider.slider3-2 .slide-area > li,
.jd-slider.slider3-3 .slide-area > li {
    width: 50%;
}

.jd-slider.slider3 .slide-area > li:nth-child(2),
.jd-slider.slider3-2 .slide-area > li:nth-child(2),
.jd-slider.slider3-3 .slide-area > li:nth-child(2) {
    display: block;
}

.jd-slider.slider4 .slide-area > li:first-child {
    background-color: #a66;
}

.jd-slider.slider4 .slide-area > li:first-child + li {
    background-color: #6a6;
}

.jd-slider.slider4 .slide-area > li:first-child + li + li {
    background-color: #66a;
}

.jd-slider.slider4 .slide-area > li:first-child + li + li + li {
    background-color: #aaa;
}

#news li>a>img{
    vertical-align: top;
    height:100%;
}

/*뷰모어 버튼*/
#news button{
    width: 200px; height: 50px;
    background: #353990;
    text-align: center;
    margin: 20px auto;
    display: block;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px; font-weight: 300;
    letter-spacing: 0.1rem;
}

/*푸터*/
footer{background: #ddd;}
footer ul{
    width: 1280px; margin: 0 auto;
    justify-content: space-between;
    padding: 100px 0;
    color:gray;
}
footer ul>li{
    padding-top: 10px;
}
footer>div>ul>div>li>a>img{
    width: 200px;
    margin-right: 30px;
}
address p{text-align: left;}

@media screen and (max-width: 1023px){
    /*공통*/
    .wrap{
        width:100%;
    }

    /*헤더*/
    nav{
        height:100%;
    }
    #head .flex>li{
        display:none;
    }
    #mob_menu{
        display:block;
        position:absolute;
        right:8%;
        top:50%;
        transform:translateY(-50%);
        cursor:pointer;
        z-index: 999999 !important;
    }
    #mob_menu>article{
        position:relative;
    }
    #mob_menu>article>div{
        width:46px;
        height:6px;
        background:#fff;
        
    }
    #mob_menu>article>div:nth-of-type(2){
        margin:12px 0;
    }
    #mob_menu>article>span{
        width:0; height:0;
    }
    #mob_menu>article>span::before{
        content:'';
        display:block;
        width:60px;
        height:6px;
        transform:rotate(-45deg) translate(-50%,-50%);
        background:#fff;
        position:absolute;
        left:34%;
        top:0%;
    }
    #mob_menu>article>span::after{
        content:'';
        display:block;
        width:60px;
        height:6px;
        transform:rotate(45deg) translate(-50%,-50%);
        background:#fff;
        position:absolute;
        left:25%;
        top:100%;
    }
    .mob_menu_switch_off{
        opacity:0;
        transition:all .1s;
    }
    .mob_menu_switch_on{
        opacity:1;
        transition:all .1s;
        z-index:999;
    }
    
    header{position: relative;}
    #gnb{
        position:absolute;
        display:block;
        z-index:1000;
        top:90%;
        right: 7.5%;
        max-width: 350px;
    }
    #gnb>li,
    .sub>li{
        float: right;
        width:60%;
        height:70px;
        background:rgba(0,0,0,0.5);
    }
    #gnb>li:hover{
        background:white;
        box-sizing:border-box;
    }
    #gnb>li>a,
    .sub>li>a{
        display:block;
        line-height:70px;
        text-align:center;
        color:#fff;
    }
    #gnb>li:hover>a{
        color:#202020;
    }
    #gnb>li{
        position: relative;
        display: none;
    }
    .sub{
        position: absolute;
        width: 100%;
        top: 0%; right: 100%;
    }
    #gnb>li:nth-child(7)>ul{
        position: absolute;
        top: -300%;
    }
    #gnb>li:nth-child(8)>ul{
        position: absolute;
        top: -506.5%;
    }
    #util{display: none;}
    

    /* 로고*/
    #logo{margin-left: 38%;}


    /*비주얼 배너*/
    .backimg hgroup{left: 35%;}
    .backimg>li>hgroup h4{
        width: 150%;
        font-size: 1.5rem;
    }
    .backimg>li>hgroup h5{
        width: 150%;
        font-size: 1rem;
    }

    /*비즈니스 영역*/
    #business img{
        width: 150px; height: 150px;
        border-radius: 50%;
    }
    #business ul li a{
        display: block;
        width: 150px;
        text-align: center;
        margin: 50px 5px;
    }

    /*제품 영역*/
    #products{position: relative;}
    .box>div:last-of-type>a>p{display: none;}
    #products div .box{
        width: 180px;
        height: 50px;
        line-height: 10px;
        border-radius: 50px;
        position: absolute;
        z-index: 9999;
        bottom: 0; left: 50%;
        transform: translateX(-50%);
    }
    #products span{
        font-size:0.9rem;
        font-weight:400;
        padding:20px 40px 0 45px;
    }
    #slide03{display: none;}
    #products .flex{width: 90%;}
    input{width:300px;}
    #products>div.flex{justify-content:center;}

    /*푸터 영역*/
    footer ul{
        width: 90%; margin: 0 auto;
        display: block !important;
        padding-top: 50px;
        padding-bottom: 0;
    }
    footer>div>ul>div{
        display: block !important;
        text-align: center;
    }
    footer>div>ul>div>li>address{padding-top: 50px;}
    footer>div>ul>div>li>address>p{text-align: center;}
    footer ul>li{
        padding-top: 10px;
        text-align: center;
    }
    
}