@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./main_common.css');
@import url('./common.min.css');
@import url('./slick.css');
@import url('./slick-theme.css');

/*드롭다운 메뉴*/
#gnb{position: relative;}
#gnb>li>a, .sub>li>a{
    display: block !important;
    position: relative; /*위치기준사용*/
}
#gnb>li:hover>a, .sub>li:hover>a{
    font-weight: bold;
}
.sub{
    font-size: 1.2rem;
    position: absolute;
    width: 180px;
    background-color: rgba(255,255,255,1);
    display: none;
    text-align: center;
}
.sub>li{padding:20px 0;}
#gnb>li>a{color: #fff;}

/*언어선택창 꾸미기*/
.select{
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 120px; height: 50px;
    color: #fff;
    font-size: 1.3rem;
    cursor:pointer;
    background: url('../images/tri_white.png') calc(100% - 5px) center no-repeat;
    background-size: 22px;
    border: 0px;
    text-align: center;
}
.select option {color: #000;}

/*동영상*/
#head{position: absolute; width: 100%; top:0;}
#vegas{
    position: relative;
    display: inline-block;
    width:100%; height: 100%;
}

/*TOP 버튼*/
a#top_btn{
    position: fixed;
	right: 25px; 
	bottom: 25px;
	z-index: 9999999;
}
#top_btn img{
    width: 90px;
    height: 90px;
}

/*스크롤 다운 버튼*/
.container {width: 1200px; margin: 0 auto;}
.scroll {
  position: absolute; bottom: 20px; left: 50%; 
  transform: translatex(-50%);
  z-index: 2;
  display: inline-block;
  color: #fff;
  transition: opacity .3s;
}
.scroll:hover {opacity:.5;}

#section4 a {padding-top: 60px;}
#section4 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}
@keyframes sdb04 {
    0% {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
}

/*브랜드스토리*/
#brandstory{
    height: 900px; width: 100%;
    background: url('../images/bg_1.jpg') no-repeat center/cover;
    position: relative;
    overflow: hidden;
}
#brandstory>hgroup{
    background: #FF964A;
    height: 232px; width: 100%;
    border-radius: 232px 0  0 232px;
    position: absolute;
    margin-left: 75%;
    transition:all .4s;
    top: 105px;
    color: #fff;
    display: flex;
    line-height: 232px;
}
 #brandstory:hover>hgroup{margin-left: 20%;}

#brandstory>hgroup h2{
    margin-left: 100px;
    font-size: 4rem;
    font-weight: 500;
}
#brandstory>hgroup h3{
    font-size: 2.6rem;
    margin-left: 120px;
}
#brandstory>p{
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 2.8;
    position: absolute;
    left:46%;
    top: 50%;
}
#brandstory>#brandstory_btn{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    transform: translateY(500px);
}
#brandstory_img{
    display: inline-block;
    width: 365px; height: 334px;
    background: url('../images/story_img.png') no-repeat;
    transform: translate(400px,400px);
}

/*하단 비주얼배너*/
#bottom_bnr{
    background: url('../images/bottom_bnr.png') no-repeat center/cover;
    height: 400px;
    text-indent:-9999px;
}

ul,li,ol{list-style:none;}

/*슬릭 슬라이더*/
  * {
    box-sizing: border-box;
  }

  .slider {
      width: 70%;
      margin: 100px auto;
  }
  .slick-slide {
    margin: 0px 40px;
  }

  .slick-slide img {
    width: 75%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
    transform: scale(1.1);
  }

/*jd슬라이더*/

.jd-slider {
    margin-top: 400px !important;
}

.jd-slider .slide-inner::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          border: 1px solid #888;
}

.jd-slider .slide-area > li {
          border-right: 1px solid #888;
          border-left: 0;
          box-sizing: border-box;
          text-align: center;
}

.jd-slider .slide-area > li:first-child {
          border-left: 1px solid #888;
}

.jd-slider .slide-area > li > a {
          display: block;
          height: 200px;
          line-height: 200px;
          font-size: 3em;
          font-weight: bold;
          outline: 0;
}

.jd-slider .controller {
          margin: 10px 0 0;
}

      .jd-slider.slider3 .slide-area > li,
      .jd-slider.slider3-2 .slide-area > li,
      .jd-slider.slider3-3 .slide-area > li {
          width: 50%;
      }

      .jd-slider.slider3 .slide-area > li:nth-child(2),
      .jd-slider.slider3-2 .slide-area > li:nth-child(2),
      .jd-slider.slider3-3 .slide-area > li:nth-child(2) {
          display: block;
      }

      .jd-slider.slider4 .slide-area > li:first-child {
          background-color: #a66;
      }

      .jd-slider.slider4 .slide-area > li:first-child + li {
          background-color: #6a6;
      }

      .jd-slider.slider4 .slide-area > li:first-child + li + li {
          background-color: #66a;
      }

      .jd-slider.slider4 .slide-area > li:first-child + li + li + li {
          background-color: #aaa;
      }


/*오렌지 띠배너 영역*/
#news{
    height: 900px; width: 100%;
    background: url('../images/bg_2.png') no-repeat center/cover;
    position: relative;
    overflow: hidden;
}
#news>hgroup{
    background: #FF964A;
    height: 232px; width: 100%;
    border-radius: 0 232px 232px 0;
    position: absolute;
    margin-left: -75%;
    transition:all .4s;
    top: 105px;
    color: #fff;
    display: flex;
    line-height: 232px;
}
 #news:hover>hgroup{margin-left: -20%;}

#news>hgroup h3{
    font-size: 3rem;
    font-weight: 500;
    padding-left: 100px;
}
#news>hgroup h2{
    font-size: 2.6rem;
    margin-left: 30%;
}
/*jd슬라이더 호버*/
.news p{
  overflow: hidden;
  position: relative;
  width: 517px; height: 295px;
  margin: 0 auto;
}
.news p strong{
  color:#fff; font-size: 1.2rem;
  position: absolute;
  display: block;
  z-index: 1; bottom:0;
  width: 517px; height: 295px;
  line-height: 295px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.news p:nth-child(1) strong{
  opacity: 0;
}

.news p:hover strong{
  opacity: 1;
  cursor: pointer;
}