@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'SEBANG_Gothic_Bold'; */

/*전체 공통*/
body{overflow-x: hidden;}
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight:300;
    scroll-behavior: smooth;
}
.wrap{width: 66.66666666666667%; margin: 0 auto;}
a,a:link,a:visited,a:hover,a:active{
    color:#333;
    text-decoration:none;
}
.flex{
    display:flex;
    flex-flow:row wrap;
}
.clear::after{
    content:'';
    display:block;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
    clear:both;
}

/*헤더*/
/*1-로고*/
#m_logo{
  display:none;
}
#logo{
  background: url('../images/logo_green.png')no-repeat center/160px 80px;
  text-indent: -9999px;
  overflow: hidden;
}
#logo>a{display: block; width:100%; height:100%;}

/*2-GNB*/
header{
  position: relative;
  width: 100%;
  height:800px;
}
#gnb{
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'SEBANG_Gothic_Bold';
  position: absolute;
  top: 0;
  user-select: none;

}
#gnb>li{width: 12%; height:100px;}
#gnb>li:first-of-type{margin-left:4%;}
#gnb>li:last-of-type{margin-right:4%;}

#gnb>li>a{
  color: #fff;
  display:block;
}
.sub{
    display: none; /*디폴트 비활성화*/
    width:100%;
}  
.sub>li{
    width:100%;
    height:40px;
    text-align:center;
  }
.sub>li>a{
  width: 100%; height:100%;
  line-height: 40px;
  text-align:center;
  display: block;
  color:#fff;
}
#gnb>li>a, .sub>li>a{position: relative; display: block;}
#gnb>li>a::after, .sub>li>a::after{
content:'';
width:0; height:0;
transition: all .3s;
}
#gnb>li:first-of-type>a::after,
#gnb>li:last-of-type>a::after{
  display:none;
}
#gnb>li:hover>a::after, .sub>li:hover>a::after{
content: '';
width:35%; height: 2px;
background: #fff;
position: absolute;
bottom: 0; left:50%;
transform: translateX(-50%);
}
#gnb>li:hover>a::after{bottom:20%;}


/*언어 선택창*/
#lang_btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  display:block;
  left:0;
  height:25px;
}
#lang_btn>img{
    height:100%;
    display:block;
}
.select{
  font-family: 'SEBANG_Gothic_Bold'; 
  height:25px;
  position:absolute;
  top:50%;
  left:20%;
  transform:translateY(-50%);
}
#langua{
  position:relative;
}

/*TOP 버튼*/
a#top_btn{
  display: block;
  position: fixed;
right: 25px; 
bottom: 25px;
z-index: 9999999;
}
#top_btn img{
  width: 90px;
  height: 90px;
}
#top_btn:hover{
  transition: all 1.5s;
  transform: rotateY(360deg);
}

/*비디오(vegas)*/
#vegas{
    position: relative;
    display: inline-block;
    width:100%; height: 100%;
}
.vegas-video{
    min-height: 800px;
    max-height: 800px;
}

/*브랜드스토리 영역*/
#brandint{
    padding: 100px 0;
    background: #f3f3f3;
    color:#333;
}
#brandint>hgroup{text-align: center;}
#brandint>hgroup>h2{
    font-size: 1.7rem;
    font-weight: 500;
}
#brandint>hgroup>h3{
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 3rem;
    color: #10643A;
    font-weight: 400;
    margin-top: 15px;
}
#brandint>figure{
    margin-top: 50px;
    justify-content: center;
}
#brandint>figure>figcaption{
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 100px;
    padding-left: 50px;
}
#brandint>figure>figcaption p{margin-bottom: 15px;}
#brandint>figure>figcaption p>span{
    color: #10643A;
    font-weight: 600;
}

/*제품소개*/

#prdtitle {
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 60px;
    text-align: center;
    padding-top: 10vh;
    z-index: 999999 !important;
  }

  #product-carousel-container {
    position: relative;
    width: 50%;
    margin: auto;
  }
  
  #product-carousel {
    height: 45vw;
    margin: 50px 0 0;
    list-style: none;
    position: relative;
  }
  #product-carousel li {
    position: absolute;
    left: 50%;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
  }
  #product-carousel li.item-1 {
    z-index: 3;
    -webkit-transform: translateX(-50%) scale(0.7) translate3d(0, 0, 0);
            transform: translateX(-50%) scale(0.7) translate3d(0, 0, 0);
  }
  #product-carousel li.item-2 {
    z-index: 2;
    -webkit-transform: translateX(-50%) scale(0.5) translate3d( 160%, 0%, 0);
            transform: translateX(-50%) scale(0.5) translate3d( 160%, 0%, 0);
  }
  #product-carousel li.item-3 {
    z-index: 1;
    -webkit-transform: translateX(-50%) scale(0.3) translate3d( 400%, -10%, 0);
            transform: translateX(-50%) scale(0.3) translate3d( 400%, -10%, 0);
  }
  #product-carousel li.item-4 {
    z-index: 0;
    -webkit-transform: translateX(-50%) scale(0.15) translate3d( 250%, -31%, 0);
            transform: translateX(-50%) scale(0.15) translate3d( 250%, -31%, 0);
  }
  #product-carousel li.item-5 {
    z-index: 0;
    -webkit-transform: translateX(-50%) scale(0.15) translate3d(-250%, -31%, 0);
            transform: translateX(-50%) scale(0.15) translate3d(-250%, -31%, 0);
  }
  #product-carousel li.item-6 {
    z-index: 1;
    -webkit-transform: translateX(-50%) scale(0.3) translate3d(-400%, -10%, 0);
            transform: translateX(-50%) scale(0.3) translate3d(-400%, -10%, 0);
  }
  #product-carousel li.item-7 {
    z-index: 2;
    -webkit-transform: translateX(-50%) scale(0.5) translate3d(-160%, 0%, 0);
            transform: translateX(-50%) scale(0.5) translate3d(-160%, 0%, 0);
  }
  #product-carousel li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 17%;
    display: block;
    width: 80%;
    height: 100%;
    background: url(https://www.7up.com/images/bottle-shadow.png) no-repeat 50% 95%;
    background-size: 100% auto;
  }
  #product-carousel li:hover img {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  #product-carousel li:not(:hover) img {
    transition: -webkit-transform .075s ease-out;
    transition: transform .075s ease-out;
    transition: transform .075s ease-out, -webkit-transform .075s ease-out;
  }
  #product-carousel li img {
    width: 70%;
    height: auto;
    margin-top: 50%;
    margin-left: 20%;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;
  }
  
  #product-carousel-nav .carousel-nav {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    border-top: 2px solid #009e5f;
    border-right: 2px solid #009e5f;
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
  }
  #product-carousel-nav .carousel-nav.prev {
    left: -35%;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  #product-carousel-nav .carousel-nav.next {
    right: -35%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  #carousel-dots {
    position: absolute;
    bottom: -100px;
    width: 100%;
    z-index: 2;
  }
  #carousel-dots ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  #carousel-dots ul li {
    display: inline-block;
    margin: 0 15px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 100%;
    cursor: pointer;
  }
  #carousel-dots ul li.active {
    background-color: #009e5f;
  }
  .sldtxt{
    text-align: center;
    margin-left: 10%;
    margin-top: 30%;
    font-size: 2em;
    font-family: 'SEBANG_Gothic_Bold';
    color: #333;
    z-index: 999;
  }
  

/*연혁 영역*/
#hwal_history{
  background: #f3f3f3;
  margin-top: 100px;
  padding-top: 150px;
  color: #333;
}
#hwal_history>.whole_wrap>.comment>p{
  font-size: 2rem;
  font-family: 'SEBANG_Gothic_Bold';
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
#hwal_history>.whole_wrap>.comment>p:last-child{
  margin-bottom: 50px;
}
#hwal_history>.whole_wrap>.comment span:first-child{
  font-size: 2.5rem; color:#10643A;
}
#history_wrap{
  height: 2000px; width: 80%;
  position: relative;
  margin: 0 auto;
  background-image: url('../images/line.png');
  background-repeat: no-repeat;
  background-position: center 10%;
  font-size: 1.2rem;
  font-weight: 400;
}
.line_wrap p{margin: 10px 0;}
#history_wrap img{padding:0 20%; height: 200px;}
#history01, #history02, #history03, #history04,
#history05, #history06, #history07, #history_wrap .line_wrap{
  position: absolute; font-size: 1.3rem;
}
/*연혁 1번째*/
#history01{
  top:50%; left: -70%;
  text-align: right;
}
#history_wrap .line_wrap{
  border-bottom:2px solid olivedrab;
  width: 20%; height: 250px;
  border-style: dotted;
}
#history_wrap .line_wrap:first-of-type{
  top:6.5%; left:25%;
}
/*연혁 2번째*/
#history_wrap .line_wrap:nth-of-type(2){
  top:14.5%; right:25%;
}
#history02{
  top:70%; right: -80%;
}
#history02 p, #history02 span{
  padding-left: 20%;
}
#history02 img{width: 60%; height: 60%; margin-bottom: 5px;}
/*연혁 3번째*/
#history_wrap .line_wrap:nth-of-type(3){
  top:23%; left:25%;
}
#history03{
  top:50%; left: -70%;
  text-align: right;
}
/*연혁 4번째*/
#history_wrap .line_wrap:nth-of-type(4){
  top:31%; right:25%;
}
#history04{
  top:60%; right: -80%;
}
/*연혁 5번째*/
#history_wrap .line_wrap:nth-of-type(5){
  top:40%; left:25%;
}
#history05{
  top:50%; left: -70%;
  text-align: right;
}
/*연혁 6번째*/
#history_wrap .line_wrap:nth-of-type(6){
  top:48.5%; right:25%;
}
#history06{
  top:60%; right: -80%;
}
#history06 p, #history06 span{
  padding-left: 20%;
}
/*연혁 7번째*/
#history07{
  top:77%; left:50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
  line-height: 2rem;
}
#history07 img{padding: 0;}

/*빙글빙글*/
#container>ul{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  vertical-align:center;
}
#container {
  background: linear-gradient(300deg,#bdbdbd,#fdfdfd,#666);
  background-size: 180% 180%;
  animation: gradient-animation 7s ease infinite;
  height: 900px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
#container>ul>li:first-child{
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 99;
  color:#333;
}
#container>ul>li:last-child{
  position: absolute;
  top: 10%;
  right: 10%;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fadein {
  opacity:0;
  margin-bottom: 100px;
}
#container>ul>li>div:first-child{
  font-size: 8rem;
  font-weight: 800;
}
#container>ul>li>div:nth-child(1)>span{
  font-size: 3rem;
}
#container>ul>li>div:nth-child(2){
  font-size: 4rem;
  font-weight: 200;
  line-height: 100px;
}
#container>ul>li>div:nth-child(3){
  font-size: 4rem;
  font-weight: 200;
}

/*회전이미지*/
.spin_img>div{
  width: 700px; height: 700px;
  background: url('../images/spin_bottom_bnr.png') no-repeat 100%/cover;
  animation: rotate_image 40s linear infinite;
  transform-origin: 50% 50%;
  text-indent:-9999px;
}
@keyframes rotate_image{
  100% {
      transform: rotate(-360deg);
  }
}

/*뉴스,캠페인,광고 영역*/
#news{
  width: 100%;
  background-color: #fff;
}

/*
#newsimg{
  justify-content: space-around;
  padding-top:5%;
}
#newsimg img{height: 80%; filter:grayscale(90%);}
#news img:last-child{
  display: block;
  margin:0 auto;
}
#newsimg img:hover{
  filter: none;
  transform: scale(1.1);
  transition: all .4s;
  overflow: hidden;
}
*/

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

#news {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 100px 20px;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 90%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .news_card {
    height: 350px;
  }
}
.news_card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.news_card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.news_card:nth-child(1):before {
  background-image: url('../images/newsimg01.jpg');
}
.news_card:nth-child(2):before {
  background-image: url('../images/newsimg02.jpg');
}
.news_card:nth-child(3):before {
  background-image: url('../images/newsimg03.png');
}
.news_card:nth-child(4):before {
  background-image: url('../images/story3.png');
}

.news_content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.news_content > * + * {
  margin-top: 1rem;
}

.news_title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.news_copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.news_btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.news_btn:hover {
  background-color: #0d0d0d;
}
.news_btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .news_card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .news_content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .news_content > *:not(.news_title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .news_card:hover{
    transition: linear 0.3s;
  }
  .news_card:hover,
  .news_card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .news_card:hover:before,
  .news_card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .news_card:hover:after,
  .news_card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .news_card:hover .news_content,
  .news_card:focus-within .news_content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .news_card:hover .news_content > *:not(.news_title),
  .news_card:focus-within .news_content > *:not(.news_title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .news_card:focus-within:before, .news_card:focus-within:after,
  .news_card:focus-within .news_content,
  .news_card:focus-within .news_content > *:not(.news_title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

/*푸터*/
footer{width:100%;}
.ft_bg{
  background: #fafafa;
  height:300px;
  line-height:2;
}
.ftinfo{
  background:#fff;
  display:flex;
  justify-content: center;
  float:left;
  font-size:1.0rem;
  width:100%;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-bottom:20px;
  text-align: center;
}
.ftinfo li{
  padding:15px;
  width:15%;
}
.ftinfo li a{
  width:100%;
  font-weight:300;
  color:#333;
}
.ftadd{
  display:flex;
  width:100%;
  justify-content:center;
  font-size: 0.9rem;
  color:#aaa;
  text-align:center;
}
.ftadd>#logo_footer{
  width:120px;
  background:url('../images/logo_gray.png') no-repeat center/70px;
  text-indent:-9999px;
}
.ftadd address p{
  padding:10px 0;
} 
#social_icon{
  width:100%;
  padding-top:20px;
}
.icon_list{
  display:flex;
  justify-content:center;
  width:100%;
}
.icon_list img{
  width:70%;
}


/*모바일 버전*/
@media all and (max-width:1023px) {
  /*헤더*/
  /*1-로고*/
  #m_logo{
    display:block;
    width:160px;
    height:100px;
    margin-left:50%;
    transform:translateX(-50%);
    background:url('../images/logo.png') no-repeat center/160px 80px;
    text-indent:-9999px;
  }
  #m_logo>a{
    display:block;
    width:100%;
    height:100%;
  }
  /*2-햄버거*/
  #mob_menu{
    position:absolute;
    top:0;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
  }
  #mob_menu>article{
      position:relative;
      cursor:pointer;
      width:46px;
      height:33px;
      margin-right:5%;
  }
  #mob_menu>article>div{
      width:46px;
      height:3px;
      background:#fff;
  }
  #mob_menu>article>div:nth-of-type(2){
      margin:12px 0;
  }
  #mob_menu>article>span{
      width:0; height:0;
  }
  #mob_menu>article>span::before{
      content:'';
      display:block;
      width:60px;
      height:3px;
      transform:rotate(-45deg) translate(-50%,-50%);
      background:#fff;
      position:absolute;
      left:34%;
      top:-10%;
  }
  #mob_menu>article>span::after{
      content:'';
      display:block;
      width:60px;
      height:3px;
      transform:rotate(45deg) translate(-50%,-50%);
      background:#fff;
      position:absolute;
      left:28%;
      top:118%;
  }
  .mob_menu_switch_off{
      opacity:0;
      transition:all .1s;
  }
  .mob_menu_switch_on{
      opacity:1;
      transition:all .1s;
      z-index:999;
  }
  
  

  /*2-GNB영역*/
  #gnb>li:first-of-type{  /*PC용 로고 가리기*/
    display:none;
    width:0 !important;
    height:0 !important;
  }
  #gnb>li:last-of-type{   /*언어설정 가리기*/
    display:none;
    width:0 !important;
    height:0 !important;
  }
  #gnb{
    display:none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'SEBANG_Gothic_Bold';
    position: absolute;
    width:20%;
    top: 12%;
    right:0;

  }
  #gnb>li{
    display:block;
    width:100%;
    min-width:120px;
    height:60px;
    background:rgba(0,0,0,0.4);
    position:relative;
  }
  #gnb>li:hover>a{
    color:#10643A;
  }
  #gnb>li>a{
    width:100%;
    height:100%;
    line-height:60px;
  }

  .sub{
    display: none; /*디폴트 비활성화*/
    width:100%;
    position:absolute;
    top:0;
    left:-100%;
  }
  .sub>li{
    height:60px;
    background:rgba(0,0,0,0.4);
  }
  .sub>li>a{
    line-height:60px;
  }
  .sub>li:hover>a{
    color:#10643A;
  }
  .sub>li:hover>a::after{
    bottom:20%;
  }
  
  /*슬라이드*/
  .sldtxt{font-size: 1.6rem;}

  /*ver.M 연혁 영역*/
  #history01, #history02, #history03, #history04,
  #history05, #history06, #history07, #history_wrap .line_wrap{font-size: 1rem;}
  #history_wrap{padding-left: 140px;}
  
  #history04{left: 50%;}
  #history04 img{height: 170px;}
  #history06 img{height: 170px;}
  #history07 img{height: 130px;}
  
    /*하단배너영역 M*/
  #container {
    height: 600px;
  }
  #container>ul>li:first-child{
      position: absolute;
      top: 50%; left: 4%;
      transform: translateY(-50%);
  }
  #container>ul>li:last-child{
      top:50%; left: 60%;
      transform: translateY(-50%);
  }
  
  /*뉴스,캠페인,광고 영역*/
#newsimg{
  display: block;
  height: 700px;
  position: relative;
}
#newsimg>li{
  height: 400px; width: 400px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#newsimg>.news_hover:nth-child(1){top:10%; left:75%;}
#newsimg>.news_hover:nth-child(2){top:20%;}
#newsimg>.news_hover:nth-child(3){top:30%; left:25%;}

#newsimg li:hover{
  filter: none;
  transform: scale(1.2) translateX(-45%);
  transition: all .4s;
}
  
/*푸터*/
.fotter{
  width:100%;
  height:100%;
}
.ft_bg{
  background: #fafafa;
  line-height:1.5;
}
.ftinfo{
  background:#fff;
  display:flex;
  justify-content: center;
  float:left;
  font-size:1.0rem;
  width:100%;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-bottom:20px;
}
.ftinfo li{
  width:100%;
  font-size:0.9rem;
  text-align:center;
  padding:14px 0;
}
.ftinfo li a{
  width:100%;
  font-weight:300;
  color:#333;
}

.ftadd{
  display:flex;
  width:100%;
  justify-content:center;
  font-size: 0.9rem;
  color:#aaa;
  text-align:left;
}

.ftadd #logo_footer{
  width:120px;
  background:url('../images/logo_gray.png') no-repeat center/70px;
  text-indent:-9999px;
}

.ftadd address p{
  padding:10px 0;
} 

#social_icon{
  width:100%;
  padding-top:20px;
}
.icon_list{
  display:flex;
  justify-content:center;
  width:100%;
}
.icon_list img{
  width:70%;
}
 
 
}
