@charset "utf-8";
@import url('./store_common.css');
*{margin:0; padding:0; list-style: none;}
a,a:link,a:visited,a:hover,a:active{color:#666; text-decoration: none;}


#sub_title{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color:#222;
    margin: 50px auto 30px;
}
#h_hr{
    width:480px;
    margin:0 auto;
}
.contents{
    width:480px;
    height:500px;
    margin:50px auto;
}
ul.tab_menu{
    width:100%;
    transform: translateY(1px);
}

ul.tab_menu>li{
    float:left;
    width:50%;
    background: #fff;
    text-align:center;
    height:40px;
    line-height:40px;
    box-sizing: border-box;
    cursor: pointer;
    color:#222;
    font-size: 1.0rem;
    font-weight: 400;
}
ul.tab_menu::after{
    content:'';
	display:block;
	clear:both;
	width:0; height:0;
	visibility:hidden;
}

ul.tab_menu>li.active{
    background: #10643A;
    color:#fbfbfb;
}
ul.tab_menu>li:first-child.active{
    border-left:1px solid #10643A;
}
ul.tab_menu>li:last-child.active{
    border-right:1px solid #10643A;
}


.tab_contents{
    position: relative;
}
.tab_contents>div{
    position:absolute;
    background:#fff;
    border-top:2px solid #10643A;
    box-sizing: border-box;
    font-weight: 400;
    color:#222;
    height:500px; width: 100%;
    line-height: 2;
    left: 0;
}
.tab_contents>div>h2{
    font-size: 1.0rem; 
    margin-top: 30px;
    margin-bottom:5px;
}

.tab_contents>div>h3{font-size: 1.2rem; margin-bottom: 25px;}
.tab_contents>div.active{z-index:9999;}

/*폼필드 CSS*/
.form_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 33px;
    width: 480px;
}
tr.form_flex th{
    text-align: left;
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
}
tr.form_flex td>input,
.telform_btn,
tr.form_flex:nth-child(2) td>select{
    height: 40px;
    line-height: 40px;
    font-size: 1.0rem;
    border: 1px solid #696969;
    padding-left: 10px;
    box-sizing: border-box;
}
input::placeholder{color: #adadad;}
tr.form_flex:nth-child(1) td>input{width: 400px;}
tr.form_flex:nth-child(2) td>select,
tr.form_flex:nth-child(2) td>input{width:93px; margin-right: 5px;}
tr.form_flex:nth-child(2) td>input:last-child{margin-right: 0;}
.telform_btn{
    font-size: 1.0rem;
    color: #fff;
    width: 85px;
    background: #10643A;
    border: 0; padding: 0;
    text-align: center;
    cursor: pointer;
    transition:all .3s;
}
.telform_btn:hover{
    box-shadow: 0 40px 0 0  rgba(0,0,0,0.25) inset, 
    0 -40px 0 0 rgba(0,0,0,0.25) inset;
    border:0;
    transition:all 0.3s;
    color:#fff;

}
.fianlform>table td>input{width: 400px;}
.cernumber_txt{
    margin-left: 80px; 
    font-size: 0.9rem; 
    color:#F52A1E;
}
.fianlform_btn{
    font-size: 1.0rem;
    color: #10643A;
    border: 1px solid #10643A;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition:all .3s;
}
.fianlform_btn:hover{
    background-color:#10643A;
    border:0;
    transition:all 0.3s;
    color:#fff;
}


@media screen and (max-width: 1023px){
    .contents{width:400px;}
    .form_flex{width: 400px;}
    tr.form_flex:nth-child(1) td>input{width: 295px;}
    .telform_btn{
        margin-top: 15px;
        width: 400px;
    }
    .cernumber_txt{margin-left: 105px;}
}
