@charset "utf-8";
@import url('./store_common.css');

.mgs{
    margin-top:20px 0;
}
.mylist>ul>li:nth-of-type(2)>a{
    font-weight:600;
}

/*타이틀*/
.mytitle{
    margin-top:50px;
    text-align:center;
}
h1{
    font-weight: 600;
    font-size:1.8rem;
    color:#222;
}



/*마이페이지 리스트*/
.mylist ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:80px 25% 70px 25%;
    text-align:center;
}

.mylist ul li{
    font-size:1.3rem;
    font-weight:400;
    width:24%;
}

.mylist ul li:hover a{
    font-weight: 600;
    color:#10643A;
    display:block;
    width:100%;
    height:100%;
}

/*h2 기본스타일*/
h2{
    font-size:1.6rem;
    font-weight:500;
    margin-bottom:15px;
}
/*label 기본스타일*/
label{
    font-size:1.0rem;
    color:#666;
    margin-bottom:10px;
    display:block;

}
/*정보수정 영역*/
.memtitle{
    font-size: 1.6rem;
    font-weight: 500;
}
#memmodify{
    margin-bottom:100px;
}

#memmodify span{
    font-size: 0.9rem;
    font-weight: 400;
}

.btn{
    display:inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    letter-spacing:1px;
    cursor: pointer;
    margin-left: 50px;
}

#memmodify>ul{
    margin-bottom: 90px;
}
#memmodify>ul>li{
    margin: 50px auto;
}

#membermodify{
    display:block;
    justify-content: center;
}
#membermodify li{
    padding-left: 20%;
}

#membermodify li:nth-of-type(3){
    margin-bottom:90px;
}
#membermodify li:nth-of-type(3)>p:first-of-type{
    margin-bottom: 15px;
}
#membermodify li:last-child p input:last-of-type{
    margin-left:0px;
}

input{
    border: 0;
    border-bottom:1px solid #333;
    height: 35px;
    width: 50%;
    box-sizing: border-box;
}

.addressinfo{
    display:flex;
}

/*수정탈퇴 버튼*/
.buttonwrap{
    display:flex;
    justify-content:center;
    width:100%;
}
button{
    width:180px;
    height: 60px;
    border:none;
    margin-left:15px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.button{
    padding:14px 0;
    background: #fff;
    color: #10643A;
    border: 1px solid #10643A;
}
.button:hover{
    background: #10643A;
    border:0;
    transition:all 0.28s;
    color:#fbfbfb;
}


/*모바일 버전*/
@media screen and (max-width: 1023px){
    .mylist ul{
        display:block;
        padding:0;
        padding-bottom:50px;
        text-align:center;
    }

    .mylist ul li{
        font-size:1.3rem;
        margin-top:50px;
        font-weight:400;
        width:100%;
    }

    .mylist ul li:hover a{
        font-weight: 600;
        color:#10643A;
        display:block;
    }

    input{width:50%;}
    #membermodify li:last-child p input:last-of-type{
        margin-left:0;
    }
    #memmodify{width:95%;}
    #memmodify ul span{font-size: 0.9rem;}
    #memmodify span{width: 20%; margin-left:20px;}
    button{width:50%}
    
}
