@charset "utf-8";
@import url('store_common.css');

div.wrap{
    width:66.7%;
}
.mylist>ul>li:nth-of-type(3)>a{
    font-weight:600;
}
@media screen and (min-width:1024px){
    /*타이틀*/
    .mytitle{
        margin-top:50px;
        text-align:center;
    }
    h1{
        font-weight: 500;
        font-size:1.8rem;
        color:#222;
    }

    .mytitle hr{
        margin-top: 30px;
        width:480px;
        margin-bottom:0;
    }

    /*마이페이지 리스트*/
    .mylist ul{
        display: flex;
        justify-content: space-between;
        padding:80px 25% 70px 25%;
        text-align:center;
    }

    .mylist ul li{
        font-size:1.3rem;
        font-weight:400;
        width:24%;
    }

    .mylist ul li:hover a{
        font-weight: 600;
        color:#10643A;
        display:block;
        width:100%;
        height:100%;
    }

    /*h2 기본스타일*/
    h2{
        font-size:2rem;
        font-weight:400;
        margin-bottom:15px;
    }

    .qnalist{
        width:100%;
        display:flex;
        justify-content:space-between;
        font-size:1.5rem;
        text-align:center;
    }
    .qnalist_tit{
        border-top:2px solid #333;
        border-bottom:1px solid #333;
        float:left;
        display:flex;
        justify-content:space-between;
        padding: 15px;
        width:100%;
        font-weight:400;
    }

    .accordion {
        background-color: #ffffff;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        outline: none;
        border: none;
        text-align: left;
        font-size: 1.1rem;
        transition: 0.4s;
    }

    .accordion:hover{
        background:#ececec;
    }
    
    .accordion li{
        padding: 16px;
        float:left;
        display:flex;
        justify-content:space-around;
    }
    .accordion li:nth-of-type(2){
        padding-left:50px;
        box-sizing:border-box;
    }
    .accordion li:last-of-type{
        float:right;
    }
    .accordion p{
        font-size:1.0rem;
        color:#aaa;
    }

 /*    .accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 15px;    
        
        .active:after {
        content: "\2212";
    }
    }*/
 
    .panel{
        padding: 0 16px;
        background-color: #eee;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-bottom: 1px solid #eeeeee;
        font-size:1.1rem;
    }

    .panel p{
        padding:20px;
    }

    .pagebtn{
        width:100%;
        display:flex;
        justify-content:space-around;
        padding:15px 0;
    }
    #pagebtnlist li{
        text-align: center;
        float:left;
        font-size: 1.1rem;
        margin-top:20px;
        line-height:20px;
    }
    #pagebtnlist li a{
        display:flex;
        justify-content: space-between;
        margin:15px;
    }
    #pagebtnlist li a:hover{
        color:#10643A;
    }
    .formwrap{
        display: flex;
        margin-top:50px;
        flex-direction: column;
    } 
    .formitem{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        font-size:1.1rem;
        
    }
    .formitem:nth-of-type(3) input{
        height:300px;

    }
    select{
        border:1px solid #333;
        width:150px;
        height:50px;

    }
    label{
        width: 100px;
        padding-right: 10px;
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
        font-size:1.2rem;
    }
    input{flex-grow: 1;}
    input:nth-of-type(2),
    input:nth-of-type(3){
        border:1px solid #333;
    }
    textarea{
        flex-grow: 1;
    }
    .buttoncon{
        margin:80px 0 100px 0;
        display:flex;
        font-size:1.2rem;
        width:100%;
        justify-content:center;
    }
    .buttoncon a{
        margin-right:30px;
    }
    .btn{
        width:200px;
        height:70px;
        line-height:70px;
        vertical-align: top;
        text-align:center;
    }
    .askbtn{
        background:#10643A;
        color:#fff;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
    .askbtn:hover{
        box-shadow: 0 70px 0 0  rgba(0,0,0,0.25) inset, 
        0 -70px 0 0 rgba(0,0,0,0.25) inset;
        border:0;
        transition:all 0.3s;
    }    
    .askbtnnone{
        border:1px solid #10643A;
        color:#10643a;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
}

@media screen and (max-width:1023px){
    /*타이틀*/
    .wrap{
        width:95%;
    }
    .mytitle{
        margin-top:50px;
        text-align:center;
    }
    h1{
        font-weight: 500;
        font-size:1.8rem;
        color:#222;
    }

    .mytitle hr{
        margin-top: 30px;
        width:480px;
    }

    /*마이페이지 리스트*/
    .mylist ul{
        padding:0;
        padding-bottom:50px;
        text-align:center;
    }

    .mylist ul li{
        font-size:1.3rem;
        margin-top:50px;
        font-weight:400;
    }

    .mylist ul li:hover a{
        font-weight: 600;
        color:#10643A;
        display:block;
    }

    .qnalist{
        width:100%;
        display:flex;
        justify-content:space-between;
        font-size:1.5rem;
        text-align:center;
    }
    .qnalist_tit{
        border-top:2px solid #333;
        border-bottom:1px solid #333;
        float:left;
        display:flex;
        justify-content:space-between;
        padding: 15px;
        width:100%;
        font-weight:400;
    }

    .accordion {
        background-color: #ffffff;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        outline: none;
        border: none;
        text-align: left;
        font-size: 1.1rem;
        transition: 0.4s;
    }
    .accordion:hover{
        background:#ececec;
    }
    .accordion li{
        padding: 16px;
        float:left;
        display:flex;
        justify-content:space-around;
    }
    .accordion li:nth-of-type(2){
        padding-left:50px;
        box-sizing:border-box;
    }
    .accordion li:last-of-type{
        float:right;
    }
    .accordion p{
        font-size:1.0rem;
        color:#aaa;
    }

 /*    .accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 15px;    
        
        .active:after {
        content: "\2212";
    }
    }*/
 
    .panel{
        padding: 0 16px;
        background-color: #eee;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-bottom: 1px solid #eeeeee;
        font-size:1.1rem;
    }

    .panel p{
        padding:20px;
    }


    .pagebtn{
        width:100%;
    }
    #pagebtnlist{
        width:100%;
        display:flex;
        justify-content:center;
    }
    #pagebtnlist li{
        float:left;
        font-size: 1.1rem;
        margin-top:20px;
        
    }
    #pagebtnlist li a{
        display:flex;
        justify-content: space-between;
        margin:10px;
    }
    .formwrap{
        display: flex;
        margin-top:50px;
        flex-direction: column;
    } 
    .formitem{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        font-size:1.1rem;
    }
    .formitem:nth-of-type(3) input{
        height:300px;

    }
    select{
        border:1px solid #333;
        width:150px;
        height:50px;

    }
    label{
        width: 100px;
        padding-right: 10px;
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
        font-size:1.2rem;
    }
    input{flex-grow: 1;}
    input:nth-of-type(2),
    input:nth-of-type(3){
        border:1px solid #333;
    }
    textarea{
        width:100%;
    }

    .buttoncon{
        margin:80px 0 100px 0;
        display:flex;
        font-size:1.3rem;
        width:100%;
        justify-content:center;
    }
    .buttoncon a{
        padding:10px;
    }
    .askbtn{
        background:#10643A;
        color:#fff;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
    .askbtnnone{
        border:1px solid #10643A;
        color:#10643a;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
    .askbtn{
        background:#10643A;
        color:#fff;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
    .askbtnnone{
        border:1px solid #10643A;
        color:#10643a;
        height:70px;
        line-height:70px;
        width:200px;
        text-align:center;
    }
    .askbtn:hover{
        box-shadow: 0 70px 0 0  rgba(0,0,0,0.25) inset, 
        0 -70px 0 0 rgba(0,0,0,0.25) inset;
        border:0;
        transition:all 0.3s;
    }
}
