@charset "utf-8";
@import url('./store_common.css');

/*공통*/
input[type=checkbox]{
    width:30px;
    height:30px;

}

button.delete{
    width:44px;
    height:44px;
    position:absolute;
    margin: -20px 30px;

}
.buckets>span{
    position:relative;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btn { 
    border: 1px solid #333;
    color: #333;
    cursor:pointer;
    user-select: none;
    font-weight: 500;
    font-size: 1.125rem;
    border-radius: 2rem;
    line-height: 40px;
}


body>section:nth-of-type(1){
    margin-bottom:20px;
}
#bk_head>h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 80px auto 0;
}
#bk_head>hr{width: 480px; margin: 30px auto 30px;}

#counting_buckets>h3{
    font-weight:700;
    font-size:1.2rem;
}
#counting_buckets>hr{
    margin:30px auto 60px;
}

.wrap>form button{
    width:130px;
    height:40px;
    font-size:1rem;
    font-weight:600;
}
.wrap>form,
.wrap>form>div{
    justify-content:space-around;
    flex-flow:row wrap;
    margin:0 20px;
    align-items: center;
}
.wrap>form>div>h4{
    font-weight:500;
    font-size:1.2rem;
    width:80%;
}

#contents{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width:900px;
    margin-left: 150px;
    user-select: none;
}
#contents>.buckets>li>a>img{
    vertical-align:top;
    height:160px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition:all .2s;
}
#contents>.buckets>li>a{
    display:block;
    border:1px solid #202020;
    text-align:center;
    width:240px;
    height:260px;
    position:relative;
}
#contents>.buckets>li>a:hover>img{
    height:185px;
    transition:all .2s;
}
#contents>.buckets>li{
    margin:70px 3px 0 0;
    padding-right: -200px;
    text-align:center;
    position: relative;
}
#contents>.buckets>li:first-child{
    position: relative;
    top:-17%; left:25%;
    width: 50px; height: 50px;
    z-index: 99;
}
#contents>.buckets{
    align-items: center;
}

#contents>.buckets>li:nth-of-type(1){
    width:15%;
}
#contents>.buckets>li:nth-of-type(2){
    width:35%;
    text-align:left;
    position:relative;
}
#contents>.buckets>li:nth-of-type(3){
    width:3%;
    text-align: left;
    position:relative;
}

#contents>.buckets>li:nth-of-type(3){
    width:25%;
}
#contents>.buckets>li:nth-of-type(3)>h5{
    font-size:1.6rem;
    font-weight:500;
    margin: 400px 0 0 -65px;
}
#contents>.buckets>li:nth-of-type(3)>h6{
    font-size:1.6rem;
    font-weight:500;
    margin: 400px 0 0 -36px;
}

#contents>.buckets>li:nth-of-type(3)>div>.btn_dec:hover,
#contents>.buckets>li:nth-of-type(3)>div>.btn_inc:hover{
    border:0;
    background:#10643A;
    color:#fff;
    transition:all .25s;
    box-shadow:0 50px 0 0  rgba(0,0,0,0.25) inset, 
    0 -50px 0 0 rgba(0,0,0,0.25) inset;
    box-sizing:border-box;
}

#fixedzone{
    width:100%;
    height:80px;
}
#CA_link{
    margin-top:100px;
    width:inherit;
    height:80px;
    background:#10643A;
    position:sticky;
    left:0;
    bottom:0;
    cursor:pointer;
    display:block;
    z-index: 999;
}
#CA_link>div{
    height:50px;
}
#CA_link .flex{
    margin:0 60px;
    height:50%;
    color:#fff;
    font-size:1.6rem;
    font-weight:400;
    letter-spacing:1px;
}
#CA_link .flex>h4{
    line-height:80px;
}
#CA_link .flex>h4:last-child{
    color:#fff;
    font-size:2rem;
    font-weight:600;
    letter-spacing:3px;
}




@media screen and (max-width: 1023px){
    #h_h4{
        width:80px;
        margin:0 33% 0 5%;
    }
    #contents{
        width: 50%;
    }
    #wrap{
        width:50%;
    }    
    .buckets{
        margin:-50px 0 0 0;
    }
    #contents {
        margin-left: 90px;
    }
    #contents>.buckets>li:nth-child(3) h5{
        margin-left: -100px;
        margin-top: 250px;
        text-align: center;
    } 
    #contents>.buckets>li:nth-child(3) h6{
        margin-left: -58px;
    } 
    #contents>.buckets>li:nth-of-type(2){
        width:50%;
    }
    #contents>.buckets>li>a{
        width:180px;
        height: 150px;
    }
    #contents>.buckets>li>a>img{
        height:120px;
    }
    #contents>.buckets>li>a:hover>img{
        height:140px;
    }
    #CA_link .flex>h4:last-child{
        font-size:1.5rem;
    }
    #contents>.buckets>li:first-child{
        top:0; left:0;
        width: 50px; height: 50px;
        z-index: 99;
    }
}