@charset "utf-8";
@import url('store_common.css');

/*공통*/

#main{
    width:100%;
    margin:0 auto;
    height:980px;
    position:relative;
    background:url() no-repeat center/cover;
    user-select: none;
}
.wrap{
    width:75%;
}

#main article:nth-of-type(1){
    padding-top:20px;
}
#main article:nth-of-type(1)>h2{
    font-size:4rem;
    font-weight:600;
}
#main article:nth-of-type(1)>h3{
    font-size:1.25rem;
    font-weight:400;
}
#main article:nth-of-type(1)>h2,
#main article:nth-of-type(1)>h3{
    text-align:center;
    line-height:1.5;
}

.contents.flex{
    justify-content:space-between;
}

.contents.flex>div{
    width:63%;
}
.contents.flex>div:last-child{
    width:37%;
}


.info_text>.flex{
    justify-content:left;
    font-size:1.2rem;
    line-height:2;
}
.info_text>dl>dt{
    font-weight:500;
    width:15%;
}
.info_text>dl>dd{
    width:85%;
}
.info_text>.flex>dl>ul{
    justify-content:left;
    font-size:1.25rem;

}
.info_text>dl>dd>ul>li{
    font-size:1.1rem;
    width:50%;
    line-height:1.7;

}
.info_text>dl>dd>ul>li,
.info_text>dl>dd{
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}

.info_img>figure{
    text-align:center;
}
.info_img img{
    height:340px;
}
.info_img .img_rotate{
    transform:rotate(-15deg);
}
#main>div:nth-of-type(6) img,
#main>div:nth-of-type(7) img{
    height:380px;
}

.paybtn{
    justify-content:left;
    margin-left:7.5%;
}
.paybtn>.btn{
    margin-left:20px;
    border-radius:15px;
    line-height:48px;
    height:50px;
    font-size:1.15rem;
    font-weight:500;
    border-radius:0;
}

#products{
    z-index:99;
    position:absolute;
    bottom:8%;
    left:50%;
    transform:translateX(-50%);
    width:80%;
    padding:0 10%
}

#products>ul>li{
    width:12%;
    background-color:rgba(255,255,255,0.4);
    position:relative;
    overflow:hidden;
    border-radius:10%;
    height:260px;
}
#products>ul>li:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
#products>ul>li:hover img{
    height:230px;
    transition:all 0.2s;
}

#products>ul>li>a{
    height:200px;
    display:block;
}

#products>ul>li img{
    height:200px;
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%);
}

.prod{
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    height:100%;
    opacity:0;
    transition:all .2s;
}

.switch{
    transition:all .2s;
    z-index:99;
    opacity:1     !important;
}

.btn_popup{
    position:fixed;
    background:url('../images/cart_img.png') no-repeat center/cover;
    display:none;
    width:150px;
    height:150px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:9999;
}
#CA{
    position:relative;
}
.btn_count{
    width:26px;
    height:26px;
    line-height:26px;
    position:absolute;
    display:none;
    top:50%;
    left:85%;
    transform:translate(-50%,-50%);
    z-index:9999;
    font-size:1rem;
    background-color:red;
    text-align:center;
    border-radius:50%;
    color:#fff;
}



@media screen and (max-width: 1023px){
    /*공통 레이아웃*/

    #main{
        height:1500px;
        background-position:left top;
        background-size:100% 600px;
        background-color:#56BB8A;
    }
    .wrap{
        width:100%;
        height:100%;
    }
    #main article.flex>div{
        width:100%;
    }
    .contents{
        display:block;
        position:relative;
        width:90%;
        height:1470px;
        margin:0 auto;
    }
    .contents>.info_img{
        position:absolute;
        top:18%;
        transform:translateY(-50%);
    }
    .contents>.info_text{
        position:absolute;
        height:700px;
        top:60%;
        transform:translateY(-50%);
    }

    .paybtn{
        width:100%;
        margin:0;
        justify-content:center;
        position:absolute;
        top:72%;
        left:50%;
        transform:translateX(-50%);
    }
    .paybtn>.btn{
        width:45%;
        margin:0 2.5%;
    }

    .btn_count{
        width:0;
        height:0;
        text-indent: -99999px;
        position:absolute;
        display:none;
        bottom:0;
        left:0;
        z-index:0;
        background:url('') no-repeat;
    }

    .info_img > figure {
        width:100%;
    }
    .info_img>figure>img{
        height:340px !important;
    }

    #products{
        top:82%;
        height:220px;
        overflow:hidden;
    }
    #products>ul>li{
        height:220px;
    }
    .info_text>.flex{
        justify-content: space-between;
        align-items: top;
    }
    .info_text>.flex>dt{
        font-size:1.2rem;
        width:18%;
    }
    .info_text>.flex>dd{
        width:80%;
        font-size:1.1rem;
    }


    

}