@charset "utf-8";
@import url('store_common.css');

/*공통*/

#main{
    width:100%;
    height:980px;
    position:relative;
    background:url() no-repeat center/cover;
}

#main article:nth-of-type(1){
    padding-top:20px;
}
#main article:nth-of-type(1)>h2{
    font-size:4rem;
    font-weight:600;
}
#main article:nth-of-type(1)>h3{
    font-size:1.25rem;
    font-weight:400;
}
#main article:nth-of-type(1)>h2,
#main article:nth-of-type(1)>h3{
    text-align:center;
    line-height:1.5;
}

.contents.flex{
    justify-content:space-between;
}
.contents.flex>div{
    width:50%;
}
.contents.flex>div:last-child{
    width:40%;
}


.info_text>.flex{
    justify-content:left;
    font-size:1.2rem;
    line-height:2;
}
.info_text>dl>dt{
    font-weight:500;
    width:15%;
}
.info_text>dl>dd{
    width:85%;
}
.info_text>.flex>dl>ul{
    justify-content:left;
    font-size:1.25rem;

}
.info_text>dl>dd>ul>li{
    font-size:1.1rem;
    width:50%;
    line-height:1.7;
}

.info_img>figure{
    text-align:center;
}
.info_img img{
    height:380px;
}
.info_img .img_rotate{
    transform:rotate(-15deg);
}
#main>div:nth-of-type(6) img,
#main>div:nth-of-type(7) img{
    height:380px;
}

.paybtn{
    justify-content:left;
    margin-top:10px;
    margin-left:50px;
}
.paybtn>.btn{
    margin-left:50px;
}

#products{
    z-index:99;
    position:absolute;
    bottom:8%;
    left:50%;
    transform:translateX(-50%);
    width:1152px;
}
#products>ul{
    justify-content:space-between;
}
#products>ul>li{
    width:12%;
    background-color:rgba(255,255,255,0.4);
    position:relative;
    overflow:hidden;
    border-radius:10%;
}
#products>ul>li:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
#products>ul>li:hover img{
    height:260px;
    transition:all 0.2s;
}

#products>ul>li>a{
    height:200px;
    display:block;
}

#products>ul>li img{
    height:200px;
    position:absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%);
}

.prod{
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    height:100%;
    opacity:0;
    transition:all .2s;
}

.switch{
    transition:all .2s;
    z-index:99;
    opacity:1     !important;
}



@media screen and (max-width: 1023px){
    /*공통 레이아웃*/

    #main{
        height:1450px;
        background-position:left top;
        background-size:100% 600px;
        background-color:#56BB8A;
    }
    .wrap{
        width:100%;
        height:100%;
    }
    #main article.flex>div{
        width:100%;
    }
    .contents{
        display:block;
        position:relative;
        width:80%;
        height:inherit;
        margin:0 auto;
    }
    .contents>.info_img{
        position:absolute;
        top:18%;
        transform:translateY(-50%);
    }
    .contents>.info_text{
        position:absolute;
        top:47%;
        transform:translateY(-50%);
    }

    .paybtn{
        margin:0;
        justify-content:space-between;
        position:absolute;
        top:72%;
        left:17%;
    }

    #products{
        top:82%;
        width:100%;
        height:200px;
        overflow:hidden;
    }

    

}