@charset "utf-8";
@import url('store_common.css');

/*타이틀*/
.mytitle{
    margin-top:50px;
    text-align:center;
}
h1{
    font-weight: 500;
    font-size:1.8rem;
    color:#222;
}
.mytitle hr{
    margin-top: 30px;
    width:400px;
}
/*h2 기본스타일*/
#od_list h2, #od_info h2, #od_coupon h2, #od_pay h2, #od_last h2{
    font-size:1.3rem;
    font-weight:500;
}
/*아래 여백*/
#od_list>hr{margin-bottom: 100px;}
#od_info>hr, #od_coupon>hr, #od_pay>hr{margin-bottom: 50px;}
/*위에 여백*/
#od_list, #od_info, #od_coupon, #od_pay, #od_last{margin-top: 100px;}




/*수량 증감 영역*/
.odlist{
    width: 100%;
    justify-content: space-around;
}
.qty{
    justify-content: space-between;
}
.content_right{
    flex-direction: column;
    align-content: space-between;
}
.content_right dt{margin-right: 150px;}
#amount{
    color:red; font-weight: bold;
    margin: 0;
}
#qty_box{
    width: 330px; line-height: 30px;
    justify-content: space-between;
}
.between{justify-content: space-between;}
#ct_qty{width: 30px; text-align: center; border:0;margin:0 0px;}
#qty_box dt{margin-right: 0;}
#product_name{padding-right: 10px;}
.fs02{font-size: 1.4rem; padding-right:10px;}
#omanwon{padding-right: 15px;}
.minus, .plus{
    font-size: 1.5rem;
    border: 1px solid #333;
    border-radius:100%;
    text-align: center;
    width: 30px; height: 30px;
    line-height: 30px;
}
.minus:hover, .plus:hover{
    background-color: #10643A;
    cursor: pointer;
}
.minus:hover a, .plus:hover a{
    color:#fff;
}

/*폰트사이즈*/
#od_info p, #od_pay p, #od_coupon p, #od_pay>span,
#od_list dt, .column>.flex, #od_pay label{font-size: 1.3rem;}

/*주문자정보 영역*/
.margin_left{margin-left: 50px;}
#od_info p, #od_pay p, #od_coupon p{
    text-indent: 50px;
    margin-top: 20px;
}
.margin_left, .phone_num{height: 30px;}
.phone_num{width:100px;}
#phone_number{height: 36px; width: 100px;}
#phone_number option{font-size: 1.2rem;}

/*배송지정보*/
#find_postcode{
    width: 100px; height: 37px; 
    background-color: #10643A;
    color:#fff; border:0;
    border-radius: 10px;
    vertical-align: top;
    cursor: pointer;
    margin-bottom: 10px;
}
#sample3_postcode{margin-left: 49px;}
#sample3_postcode, #sample3_detailAddress{
    height: 30px; width:300px;
}
#sample3_detailAddress{
    height: 30px; width:400px;
    margin-left: 192px;
}
#parcel_memo{margin-left: 46px;}

/*쿠폰포인트 영역*/
#margin_left_plus01{margin-left: 107px; width: 176px;}
#margin_left_plus02{margin-left: 73px;}

/*결제방법 영역*/
#u_pay{width: 1080px;}
#pay_wrap div{
    float:left; width: 150px; height: 150px;
    position: relative;
    margin-left: 100px;
}
#pay_wrap .sltbox{
    position: absolute; left:-50px;
    width: 250px;
    font-size: 1.2rem;
}
#pay_wrap::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
/*최종결제금액 영역*/
.column{
    height: 100px;
    flex-flow: column wrap;
    align-content:space-between
}
.column>.flex{
    width: 90%;
    justify-content: space-between;
    text-indent: 60px;
}

/*전체동의 영역*/
.checkbox_group{
    width: 600px; height: 130px;
    background-color: ghostwhite;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    margin: 0 auto;
    position: relative;
    text-indent: 25px;
    border-radius: 5px;
}
.checkbox_group>label:first-of-type{
    font-size: 1.2rem; font-weight: bold;
    text-indent: 25px;
}
.checkbox_group>label:nth-of-type(2),
.checkbox_group>label:nth-of-type(3),
.checkbox_group>label:nth-of-type(4){
    text-indent: 55px;
}
.checkbox_group input{
    width: 20px;
    margin: 0;
    position: inherit;
    top:15px; left:45%;
}
#submit_btn{
    position: absolute;
    left:70%; top:50%;
    transform: translateY(-50%);
    border-radius: 10px;
    width: 100px; 
}
/*푸터랑 간격 넓히기*/
#od_agree{margin-bottom: 100px;}

/*모바일ver.*/
@media all and (max-width:1024px) {
    .wrap{width: 100%;}
    
    /*라인*/
    #od_list>hr, #od_info>hr,
    #od_coupon>hr, #od_pay>hr,
    #od_last>hr{
        width: 95%; 
        text-align: center;
    }
    h2{
        margin-left:2.5%;
    }

    /*수량 증감 영역*/
    .odlist{width: 90%;}
    .content_right{width: 50%;}
    .between{width: 100%;}
    #qty_box{width: 100%;}
    .content_right dt{margin-right: 10%;}

    /*주문자정보 영역*/
    #phone_number{        
        width: 50px;
        position: relative;
    }
    .phone_num{width: 10%;}
    #sample3_detailAddress{
        width: 50%;
    }
    #sample3_postcode{
        width: 30%;
    }
    #sample3_postcode, #find_postcode{
        margin-top: 10px;
    }

    /*결제 방법*/
    #pay_wrap div{height: 80px;}

    /*결제*/
    #od_agree{position: relative;}
    .checkbox_group{
        margin-bottom: 80px;
        width: 95%;
    }
    #submit_btn{
        width: 100%;
        position: absolute;
        left: 0px;
        top: 180px;
    }
    .checkbox_group input{
        left: 300px;
    }




}