@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*전체 공통
수정 20220930*/

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight:300;
    color:#202020;
}
img{
    vertical-align: top;
}

a{color:#202020;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}


.wrap{
    width:1280px;
    margin:0 auto;
}
.hdwrap{
    width:1800px;
    margin:0 auto;
}

.ftwrap{
    width:1800px;
    margin:0 auto;
}

.flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.clear::after{
    content:'';
    display:block;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
    clear:both;
}


.btn{
    width:180px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid #10643A;
    background-color:rgba(0,0,0,0);
    cursor:pointer;
    color:#333;
    font-weight:300;
    font-size:1.2rem;
    transition:all 0.3s;
    box-sizing: border-box;
    padding:0;
}


.btn:hover{
    background-color:#10643A;
    /*    box-shadow: 0 50px 0 0  rgba(0,0,0,0.25) inset, 
    0 -50px 0 0 rgba(0,0,0,0.25) inset;*/
    border:0;
    transition:all 0.3s;
    color: #fbfbfb;;
    box-sizing:border-box;
    padding:0;
}


/*헤더*/
#mob_menu{
    display:none;
}

#head{
    position:relative;
    height:100px;
}
#head>nav{
    height:50px;
}
#head .flex{
    justify-content:right;
    user-select: none;
}
#head ul>li{
    height:50px;
    width:120px;
    position:relative;
    margin:0 20px;
    display:block;
}
#head ul>li>a{
    display:block;
    width:100%;
    height:100%;
    line-height:50px;
    text-align:center;
    font-size:1.0rem;
    font-weight:400;
}


/*호버 효과 언더라인*/
#head ul li a:after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background:#10643A;
    transition: all .5s;
}
#head ul li a:before {
    content:"";
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background:#10643A;
    transition: all .5s;
}
#head ul li a:hover:after {
    width: 45%
}
#head ul li a:hover:before {
    width: 45%
}


#head li img{
    width:20px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
#head li img:nth-of-type(1){
    left:10%;
}
#head li img:nth-of-type(2){
    right:10%;
}

#logo{
    height:100px;
    width:150px;
    position:absolute;
    top:0;
    left:0;
}
#logo>a{
    display:block;
    height:100px;
    background:url('../images/logo.png') no-repeat center center/70px;
    text-indent:-9999px;
}


/*푸터*/
.footer{
    width:100%;
    
}
.ft_bg{
    background: #fafafa;
    height:300px;
    line-height:2;
}
.ftinfo{
    background:#fff;
    display:flex;
    justify-content: center;
    float:left;
    font-size:1.0rem;
    width:100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
    text-align: center;
}
.ftinfo li{
    padding:15px;
    width:15%;
}
.ftinfo li a{
    width:100%;
    font-weight:300;
    color:#333;
}

.ftadd{
    display:flex;
    width:100%;
    justify-content:center;
    font-size: 0.9rem;
    color:#aaa;
    text-align:center;
}

.ftadd #logo_footer{
    width:120px;
    background:url('../images/logo_gray.png') no-repeat center/70px;
    text-indent:-9999px;
}

.ftadd address p{
    padding:10px 0;
} 

#social_icon{
    width:100%;
    padding-top:20px;
}
.icon_list{
    display:flex;
    justify-content:center;
    width:100%;
}
.icon_list img{
    width:70%;
}

@media screen and (max-width: 1023px){
    /*공통*/
    .wrap{
        width:100%;
    }
    .hdwrap{
        width:100%;
        margin:0 auto;
    }
    
    .ftwrap{
        width:100%;
        margin:0 auto;
    }
    /*헤더*/
    nav{
        height:100%;
    }
    #head .flex>li{
        display:none;
    }
    #mob_menu{
        display:block;
        position:absolute;
        right:8%;
        top:50%;
        transform:translateY(-50%);
        cursor:pointer;
    }
    #mob_menu>article{
        position:relative;
    }
    #mob_menu>article>div{
        width:46px;
        height:3px;
        background:#333;
    }
    #mob_menu>article>div:nth-of-type(2){
        margin:12px 0;
    }
    #mob_menu>article>span{
        width:0; height:0;
    }
    #mob_menu>article>span::before{
        content:'';
        display:block;
        width:60px;
        height:3px;
        transform:rotate(-45deg) translate(-50%,-50%);
        background:#10643A;
        position:absolute;
        left:34%;
        top:-28%;
    }
    #mob_menu>article>span::after{
        content:'';
        display:block;
        width:60px;
        height:3px;
        transform:rotate(47deg) translate(-50%,-50%);
        background:#10643A;
        position:absolute;
        left:25%;
        top:103%;
    }
    .mob_menu_switch_off{
        opacity:0;
        transition:all .1s;
    }
    .mob_menu_switch_on{
        opacity:1;
        transition:all .1s;
        z-index:999;
    }
    

    #head>nav>ul{
        position:absolute;
        display:block;
        z-index:1000;
        right:0;
        top:80%;
    }
    #head>nav>ul>li{
        width:180px;
        height:70px;
        background:rgba(16,100,58,0.8);
    }
    
    #head>nav>ul>li:hover{
        background:white;
        box-sizing:border-box;
    }
    #head>nav>ul>li>a{
        display:block;
        line-height:70px;
        text-align:center;
        color:#fff;
    }
    #head>nav>ul>li:hover>a{
        color:#202020;
    }

    #head ul li a:after,
    #head ul li a:before{
        display:none;
    }


    #logo{
        left:50%;
        transform:translateX(-50%);
    }



    /*푸터*/
    .fotter{
        width:100%;
        height:100%;
    }
    .ft_bg{
        background: #fafafa;
        line-height:1.5;
    }
    .ftinfo{
        background:#fff;
        display:flex;
        justify-content: center;
        float:left;
        font-size:1.0rem;
        width:100%;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        margin-bottom:20px;
    }
    .ftinfo li{
        width:100%;
        font-size:0.9rem;
        text-align:center;
        padding:14px 0;
    }
    .ftinfo li a{
        width:100%;
        font-weight:300;
        color:#333;
    }
    
    .ftadd{
        display:flex;
        width:100%;
        justify-content:center;
        font-size: 0.9rem;
        color:#aaa;
        text-align:left;
    }
    
    .ftadd #logo_footer{
        width:120px;
        background:url('../images/logo_gray.png') no-repeat center/70px;
        text-indent:-9999px;
    }
    
    .ftadd address p{
        padding:10px 0;
    } 
    
    #social_icon{
        width:100%;
        padding-top:20px;
    }
    .icon_list{
        display:flex;
        justify-content:center;
        width:100%;
    }
    .icon_list img{
        width:70%;
    }

}
